* {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    background-color: aliceblue;
}

.caixa {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caixa__1 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 35px;
}

.caixa__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.caixa__label input {
    background: #fff;
    border: 2px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 40px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.caixa__label input:focus {
    outline: none;
    border: 3px double black;
}

.caixa__botoes {
    display: flex;
    flex-direction: column;
}

.botoes {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffcccc; /* Vermelho suave */
    color: #000000;
    margin: 5px;
    cursor: pointer;
    box-shadow: -1px -1px 8px -2px black inset;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
}
.botoes:hover {
    background-color: #ff9999; /* Vermelho mais claro ao passar o mouse */
}
.botoes:active {
    box-shadow: 1px 1px 8px 2px black inset;
    font-size: 0.98rem;
    background-color: #ff6666; /* Vermelho mais escuro ao clicar */
    transition: all 0.1s ease-in-out; /* Transition effect */
}

.pesquisar {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pesquisar input {
    background-color: #fff;
    background-image: none;
    border: 2px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 40px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;
}

.caixa__2 {
    border: 10px #a18404 double;
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}
.caixa__2::-webkit-scrollbar {
    width: 3px; /* Largura da barra de rolagem */
}
.caixa__2::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
}
.caixa__2::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do botão de rolagem */
    border-radius: 4px; /* Raio do botão de rolagem */
}
.caixa__2::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do botão de rolagem quando hover */
}


.selecionado {
    background-color: #4f2791 !important;
    color: #ffffff !important;
}
#remover {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dd9e9e;
    cursor: pointer;
    background-image: url(https://i.pinimg.com/736x/19/02/f5/1902f530b7b1642cd67b9a3e7a6977bf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 5px;
}
#remover:hover {
    transform: scale(1.3);
}

.textos {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #dcd3eb;
    color: #000000;
    margin: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}



/* Estilos específicos para dispositivos móveis (até 767px de largura) */
@media screen and (max-width: 767px) {

    .caixa {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

    }

    .caixa__2 {
        width: 90vw;
    }

    .caixa__label {
        font-size: 1.5rem;
    }

    .caixa__label input {
        font-size: 1.2rem;
        padding: 8px 30px;
        width: 50%;
    }

    .botoes {
        width: 100%;
        font-size: 1.2rem;
    }

    .textos {
        font-size: 1.2rem;
    }

    .pesquisar {
        top: -30px;
    }
}
