body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
.tamanho {
    width: 90vw;
}
.container {
    background-color: rgb(0, 0, 0);
    width: 1080px;
    height: 14868px;
}
.container--header {
    display: flex;
    align-items: flex-start;
    width: 1080px;
    height: 130px;
    border-bottom: 1px solid rgb(172, 172, 172);
    position: relative;
}


.container--header--imagens {
    display: flex;
    width: 140px;
    flex-direction: column;
    align-items: flex-end;
}
.container--header--logo1 {
    width: 40px;
    height: 50px;
    position: relative;
    top: 20px;
    left: -50px;
}
.container--header--logo2 {
    width: 115px;
    height: 20px;
    position: relative;
    left: 25px;
    top: 40px;
}


.container--header--main {
    display: contents;
}
.container--header--lista {
    font-size: 18px;
    font-family: "SFProDisplay", sans-serif;
    color: rgb(153, 153, 153);
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 15px;
    padding: 0;
}
.container--header--lista li {
    cursor: pointer;
    font-size: 15px;
}

.container--header--footer--lista {
    color: rgb(153, 153, 153);
    list-style: none;
    display: flex;
    width: 255px;
    right: 10px;
    top: 60px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}
.container--header--footer--lista li, .container--header--footer--botao {
    cursor: pointer;
}
.container--header--footer--botao {
    border-radius: 10px;
    background-color: rgb(0, 125, 234);
    height: 40px;
    width: 85px;
    border: none;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    font-size: 17px;
    font-family: "SFProDisplay", sans-serif;
    cursor: pointer;
}






.container--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -120px;
}
.container--main--caixa1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.container--main--caixa1--h1 {
    font-size: 105px;
    font-family: "SFProDisplay", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    z-index: 1;
    position: relative;
    top: -75px;
}
.container--main--caixa1 img {
    width: 310px;
    height: 410px;
    position: relative;
    top: 145px;
}

.container--main--caixa2 {
    position: relative;
    top: -91px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.container--main--caixa2--btn1 {
    border-radius: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container--main--caixa2--btn2 {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(4, 4, 4);
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    width: 160px;
    height: 50px;
    cursor: pointer;
}

.container--main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container--main2--h2 {
    color: white;
    font-size: 55px;
    font-family: "SFProDisplay";
    font-weight: bold;
    line-height: 1.2;
    -ms-transform: matrix( 0.98195606799325,-5.8297906072067e-17,0,0.98195606799325,0,0);
}
.container--main2--img2 {
    width: 73.7%;
    height: 73.54%
}

.container--main3--h2 {
    color: white;
    font-size: 55px;
    font-family: "SFProDisplay";
    font-weight: bold;
}



.container--main3 {
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container--main3--imgs3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
.container--main3--img3 {
    width: 300px;
}
.container--main3--p3 {
    font-size: 18px;
    font-family: "SFProDisplay";
    line-height: 1.154;
    width: 307px;
    height: 144px;
    text-align: justify;
    margin-top: -100px;
}
